* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-font: 'Roboto', sans-serif;

    --hue: 195;
    --button-favorite-color: hsl(var(--hue), 91%, 25%);
    --button-remove-color: hsl(355, 91%, 66%);
    --thead-color: hsl(var(--hue), 72%, 13%);
    --tr-odd-color: hsla(var(--hue), 61%, 6%, 0.5);
    --tr-even-color: hsl(var(--hue), 65%, 7%);
    --border-table-collor: hsl(var(--hue), 31%, 42%);
    --input-color: hsl(var(--hue), 65%, 7%);
    --main-text-color-: hsl(240, 9%, 89%);
    --alternate-text-color: hsl(189, 4%, 32%);
    --scroll-bar-color: hsla(var(--hue), 31%, 42%, 1);
    --bg-color: hsl(0, 0%, 0%);
}


body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
    background-color: var(--bg-color);
    color: var(--main-text-color-);
    min-height: 100vh;
    padding: 11.5rem 0;
}


body * {
    font-size: 1.6rem;
    font-family: var(--primary-font);
}

main {
    max-width: 1120px;
    margin: auto;
}

section {
    max-height: 4.8rem;
    display: flex;
    justify-content: space-between;
}

#search {
    display: flex;
    align-items: stretch;
    gap: .8rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

#search input {
    background-color: var(--input-color);
    border: none;
    width: 46.2rem;
    padding: 1.6rem;
    border-radius: .5rem;
}

#search button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .85rem;
    padding: 1.3rem 3.2rem;
    background-color: var(--button-favorite-color);
    
    border-radius: .5rem;
    cursor: pointer;
    transition: all .8s;

    color: var(--main-text-color-);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all .8s;
}

#search button:hover {
    background-color: white;
    color: var(--button-favorite-color);
}

#search button:hover p {
    color: var(--button-favorite-color);
}


#search button svg {
    width: 2.4rem;
    height: 2.4rem;
}

#search button svg path {
    fill: white;
    transition: all .8s;
}

#search button:hover svg path {
    fill: var(--button-favorite-color);
}


.table-container {
    width: 100%;
    border: 1px solid #4A808C;
    border-radius: 1.2rem;
    /* min-width: 85rem; */
    margin-top: 8.7rem;
    overflow-y: hidden;
}

.table-content {
    display: flex;
    flex-direction: column;
    overflow: overlay;
    max-height: 59rem;
}

.table-content::-webkit-scrollbar {
    width: 22px;
    border-radius: 9999px;
    
}


.table-content::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: transparent;
    border-radius: 8rem;
    box-shadow: inset 0 0 0px 6px var(--scroll-bar-color);
    border: solid 8px transparent;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 1.2rem;
}

table thead {
    background-color: var(--thead-color);
    position: sticky;
    top: 0;
}

table thead * {
    font-size: 2rem;
    font-weight: 700;
}

table thead th:first-child,
table tbody tr td:first-child {
    width: 50.4rem;
}

table thead th:nth-child(2),
table tbody tr td:nth-child(2) {
    width: 21.8rem;
}

table thead th:nth-child(3),
table tbody tr td:nth-child(3) {
    width: 22rem;
}

table thead th,
table tbody tr td {
    padding: 1.6rem 4rem;
}

table tbody,
table thead {
    display: block;
    width: 100%;
    
}

table tbody {
    display: flex;
    flex-direction: column;
}


table tbody tr:nth-child(odd) {
    background-color: var(--tr-odd-color);
}

table tbody tr:nth-child(even) {
    background-color: var(--tr-even-color);
    border-top: 1px solid var(--border-table-collor);
    border-bottom: 1px solid var(--border-table-collor);
}

table tbody tr {
    display: flex;
    align-items: center;
}

table tbody tr td:first-child {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.user img {
    height: 5.6rem;
    width: 5.6rem;
    object-fit: cover;
    border-radius: 50%;
}

.user a {
    text-decoration: none;
    color: white;
}

.user p,
.user td,
.user button {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.user a span {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.user button {
    color: var(--button-remove-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/*
*/