* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-font: 'Roboto', sans-serif;

    --hue: 195;
    --button-favorite-color: hsl(var(--hue), 91%, 25%);
    --thead-color: hsl(var(--hue), 72%, 13%);
    --tr-odd-color: hsla(var(--hue), 61%, 6%, 0.5);
    --tr-even-color: hsl(var(--hue), 65%, 7%);
    --border-table-collor: hsl(var(--hue), 31%, 42%);
    --input-color: hsl(var(--hue), 65%, 7%);
    --main-text-color-: hsl(240, 9%, 89%);
    --alternate-text-color: hsl(189, 4%, 32%);
    --bg-color: hsl(0, 0%, 0%);
}

body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
    background-color: var(--bg-color);
    color: var(--main-text-color-);

}

body * {
    font-size: 1.6rem;
    font-family: var(--primary-font);
}

main {
    max-width: 1120px;
    margin: 0 auto;
}

section {
    margin-top: 11.5rem;
    max-height: 4.8rem;
    display: flex;
    justify-content: space-between;
}

#search {
    display: flex;
    align-items: stretch;
    gap: .8rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

#search input {
    background-color: var(--input-color);
    border: none;
    width: 46.2rem;
    padding: 1.6rem;
    border-radius: .5rem;
}

#search button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .85rem;
    padding: 1.3rem 3.2rem;
    background-color: var(--button-favorite-color);

    border-radius: .5rem;
    cursor: pointer;
    transition: all .8s;
}

#search button img {
    width: 2.4rem;
    height: 2.4rem;
}

#search button p {
    color: var(--main-text-color-);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
}

#search button:hover {
    filter: brightness(1.5);
}

table {
    margin-top: 8.7rem;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 1.2rem; 
    outline: 1px solid var(--border-table-collor);
}

table thead {
    background-color: var(--thead-color);
    f
}

table thead * {
    background-color: var(--thead-color);
    font-size: 2rem;
    font-weight: 700;
}

table thead th:first-child,
table tbody tr td:first-child {
    width: 50.4rem;
}

table thead th:nth-child(2),
table tbody tr td:nth-child(2) {
    width: 21.8rem;
}

table thead th:nth-child(3),
table tbody tr td:nth-child(3) {
    width: 22rem;
}

table thead th,
table tbody tr td {
    padding: 1.6rem 4rem;
}

/* table tbody tr {
    min-height: 10.4rem;
} */

table tbody tr td:first-child {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

table tbody tr:nth-child(odd) {
    background-color: var(--tr-odd-color);
}

table tbody tr:nth-child(even) {
    background-color: var(--tr-even-color);
    border-top:  1px solid var(--border-table-collor);
    border-bottom:  1px solid var(--border-table-collor);
}

table tbody tr:last-child {
    border-bottom: 0;
}

.user img {
    height: 5.6rem;
    width: 5.6rem;
    object-fit: cover;
    border-radius: 50%;
}

.user a {
    text-decoration: none;
    color: white;
}


.user p, .user td {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.2rem;
}

.user a span {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.user a:checked{

}